<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Rick and Morty DataBase</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Rick and Morty Database that a user may manipulate."/>

		<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="/static/CSS/styleSheet.css">

		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

	</head>
	<body>
		<nav id="navbarArea" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Rick and Morty Database</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
				<li id="rickPage" class="nav-item" >
					<a class="nav-link" href="/">Rick</a>
				</li>
				<li id="universePage" class="nav-item">
					<a class="nav-link" href="/universe">Rick's Universe</a>
				</li>
				<li id="mortyPage" class="nav-item">
					<a class="nav-link" href="/morty">Morty</a>
				</li>
				<li id="mortyAbility" class="nav-item">
					<a class="nav-link" href="#">Morty's Abilities</a>
				</li>
				</ul>
			</div>
		</nav>

		<div class="container" >
			{{{body}}}
		</div>

	</body>

</html>