#navbarArea {
    height: 150px;
    color: white;
    margin-bottom: 50px;
}

h1 {
    color: white;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

/*
table td {
    padding: 0px 5px 0px 5px;
}
*/


.left_indent {
    padding-left: 10px;    
}